html {
  box-sizing: border-box;
}

.cursor {
  cursor: pointer;
}

/* Scroll bar stylings */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--lightestgrey);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.input-money-wrap {
  position: relative;
  &_input {
    padding-right: 109px !important;
  }
  &_type {
    right: 2px;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
  }
}